body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h1,
h3 {
  text-align: center;
}

.desc {
  font-size: 2.5em;
}


.container {
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  min-height: 125px;
  justify-content: space-around;
}

.box {
  background-color: whitesmoke;
  border: 1px solid white;
  width: 150px;
  height: 150px;
}

#wrap {
	flex-wrap: wrap;
}

#nowrap {
	flex-wrap: nowrap;
}

#reverse {
	flex-wrap: wrap-reverse;
}
