
/*----------------------------------------------------------------------------*
 |                                  Page                                      |
 *----------------------------------------------------------------------------*/

html {
  /* Set colors and fonts as per spec */
  font-size: 12px;
  font-family: "Helvetica";
  text-align: center;
  background-color: black;
  color: rgba(255, 245, 238, 0.7);
}

body {
  /* Remove user agent margin, so spec positioning correlates more easily */
  margin: 0;
}

.flex-box_container {
  /* Utilise flex-box layouts. */
  /* NB: Add flex-box_container class to all elements that contain others requiring flex-box layouts */
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  /* Link decoration as per spec */
  text-decoration: underline;

  /* Override default link color to match page, as per spec */
  color: inherit;
}



/*----------------------------------------------------------------------------*
 |                                 Header                                     |
 *----------------------------------------------------------------------------*/

header {
  /* Color as per spec */
  background-color: black;
  
  /* Border as per spec */
  border-bottom: 1px solid;
  
  /* Keep header at the top of the page and over other elements */
  position: fixed;
  top: 0;
  z-index: 10;

  /* Sizing as per spec, but converted to em for @media scaling */
  width: 100%;
  height: 3.14em; 
}

main, footer {
  /* Position subsequent major sections below fixed header */
  position: relative;
  top: 3.15em;
}

.logo {
  /* position as per spec, but converted to em for @media scaling*/
  padding-left: .45em;
}

.logo img {
  display: block;

  /* Size as per spec, but converted to em for @media scaling */
  height: 2.27em;

  /* Opacity as per spec */
  opacity: .7;
}

nav.flex-box_container { 
/* NB: Using chained selector with higher precedence than .flex-box_container selector, so that it's flex-box properties can be overriden here */

  /* Allow nav to take up any extra space */
  flex-grow: 1;

  /* Push nav bar to the right */
  justify-content: right;
}

nav li {
  display: inline;
  padding: .91em;
}


/*----------------------------------------------------------------------------*
 |                                  Main                                      |
 *----------------------------------------------------------------------------*/

main {  
  /* Layout contained items down the page */
  flex-direction: column;

  /* size as per spec, but converted to em for @media scaling */
  max-width: 54.55em;

  /* position centrally as per spec */
  margin: auto;
}

/*----------------------------------------------------------------------------*
 |                                Mission                                     |
 *----------------------------------------------------------------------------*/

.mission {
  /* Sizing as per spec, but converted to em for @media scaling */
  height: 31.82em;
  width: 100%;
  padding-top: 3.18em; /* Not explicitly listed in spec, but implicit in pic */


  /* Add background as per spec */
  background-image: url("./img/img-mission-background.jpg");
  /* background-size: cover; */
}

.mission_statement {
  background-color: black;
  width: 100%;
}

/*----------------------------------------------------------------------------*
 |                                  Tea                                       |
 *----------------------------------------------------------------------------*/

.tea {
  /* size as per spec, but converted to em for @media scaling */
  max-width: 45.45em;

  /* position as per (implicit) spec */
  margin-top: 3.15em;
}

.tea_items {
  width: 100%;
  flex-wrap: wrap;
}

.tea_item {
  margin: .68em;
}

.tea_item img {
  /* Set image dimensions as per spec, but converted to em for @media scaling */
  width: 13.64em;
  height: 9.09em;
}

.tea_item h4 {
  /* Position as per spec, but converted to em for @media scaling */
  margin-top: .45em;
  margin-bottom: 0;
}

/*----------------------------------------------------------------------------*
 |                                Locations                                   |
 *----------------------------------------------------------------------------*/

.locations {

  /* Size as per spec, but converted to em for @media scaling */
  min-height: 22.73em;
  width: 100%;
  padding-top: 3.15em; /* Not explicitly listed in spec, but implicit in pic */
  margin-top: 3.15em;

  /* Add background as per spec */
  background-image: url("./img/img-locations-background.jpg");
  /* background-size: cover; */
}

.locations h2 {
  /* Remove default h2 margins to position as per spec */
  margin: 0;
}
.location_items {
  flex-wrap: wrap;
}

.location_item {
  background-color: black;

  /* Position as per spec, but converted to em for @media scaling */
  margin: .68em .91em;

  /* Size as per spec, but converted to em for @media scaling */
  width: 13.64em;
}

.location_item h4 {
  margin-top: 2em;
}

/*----------------------------------------------------------------------------*
 |                                 Footer                                     |
 *----------------------------------------------------------------------------*/

footer {
  width: 100%;
}

.footer_items {

  /* NB: Using flex-box layout so overall size and spacing can be set as per spec */

  /* Layout items down the page */
  flex-direction: column;

  /* size as per spec, but converted to em for @media scaling */
  height: 9.01em;
  justify-content: space-around;
}

.footer_items h2, .footer_items h5 {
  /* Removing default header margins so the vertical space can be  managed using flex-box layout (otherwise the margins push the items apart)*/
  margin: 0;
}

.footer_copyright {

  /* Align as per spec */
  text-align: left;

  /* Position as per spec, but converted to em for @media scaling */
  margin-left: .91em;
}