body {
  margin: 0;
  border: 0;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h1,
h2 {
  text-align: center;
}

.desc {
  font-size: 2.5em;
}

.no_shrink,
.center_fixed,
.sides_shrink,
.all_fixed {
  width: 250px;
  height: 250px;
  background-color: Dodgerblue;
  border: 2px solid lightgray;
  margin: 10px 30px;
}

/*
.center_fixed.side {
	flex-shrink: 1;
}
*/
.center_fixed.center {
	flex-shrink: 0;
}

.sides_shrink.side {
  flex-shrink: 2;
}

.all_fixed.side {
	flex-shrink: 0;
}

.all_fixed.center {
	flex-shrink: 0;
}

#no_shrink,
#center_fixed,
#sides_shrink,
#all_fixed {
  display: flex;
  background-color: Whitesmoke;
  justify-content: center;
  min-height: 200px;
  align-items: center;
}
