body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  margin: 20px;
  text-align: center;
  font-size: 2em;
}

h2 {
  text-align: center;
  font-size: 1.4em;
}

#main {
  background-color: lightgrey;
  margin: auto;
}

#section_1 {
  width: 300px;
  height: 350px;
  flex-direction: column;
}
#section_2 {
  width: 200px;
  height: 350px;
}
#section_3 {
  width: 500px;
  height: 500px;
  flex-direction: column;
}

#section_1_items, #section_3_items {
  flex-direction: column;
}

.content {
  background-color: dodgerblue;
  border: 1px solid white;

}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  height: 75px;
  min-width: 200px;
  background-color: whitesmoke;
  border: 1px solid snow;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
